
@import url('https://fonts.googleapis.com/css?family=Montserrat');



body {
	color: #555;
	font-family: 'Montserrat', sans-serif;
}

.banner {
	background: linear-gradient(-225deg, rgba(30,30,30,0.6) 30%, rgba(46,46,46,0.5) 80%), url("images/DigitalMagicTeam_cover.jpg");
	background-size: cover;
	/*max-width: 100%; we can also use this one instead of cover */
	padding: 10vw;
	text-align: center;
	color: white;
	text-shadow: 2px 2px 5px black;
	position: relative;
}

.container {
	margin: 0 auto;
    max-width: 40em;
    display: flex-block;
    padding: 20px 30px 20px 30px;
    line-height: 1.5em;
}

header {
	font-size: 3em;
	font-weight: bolder;
}

#subheader {
	font-size: 1.5em;
}

em {
	box-shadow: inset 0px -10px #D23333;
}

li {
	margin-top: 5px;
}

#subheader:hover > em {
	box-shadow: inset 0 2em 3em -1em #D23333;
}

.footer {
	background-color: black;
	background-size: cover;
	padding: 1.2em;
	color: white;
	font-size: 1.2em;
	text-shadow: 1px 1px 2px black;
	margin-top: 0em;
}

#banner-btn {
	text-decoration: none;
	color: white;
	padding: 0.5em 1em 0.5em 1em;
	background-color: #D23333;
	border-radius: 15px;
	font-size: 1.5em;
	text-shadow: none;
	display: inline-flex;
	margin-top: 25px;
	text-align: center;
}

#banner-btn:hover {
	background-color: red;
}

.card {
	margin-top: 2.5em;
}

#banner-btn-card {
	margin-top: 3em;
	justify-content: center;
	display: flex;
}

strong {
	color: #D23333;
}

#my-badge {
	position: absolute;
	top: 10px;
	right: 10px;
	border-radius: 50px;
 	width: 55px;
 	height: 55px;
}

#my-badge:hover {
	width: 65px;
 	height: 65px;
}

.card-i {
	display: inline-grid;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
}

.img-card {
	max-width: 80vw;
	max-height: 150px;
	display: flex;
	align-items: center;
	justify-content: center;
}

h5 {
	text-align: center;
}

.img-card:hover {
	opacity: 0.5;
}

@media screen and (max-width: 710px) {
	.card-i {
	display: grid;
	justify-content: center;
		}	
	header {
	font-size: 2em;
		}
	#my-badge {
	width: 48px;
 	height: 48px;
		}
	#banner-btn {
	padding: 0.3em 0.5em 0.3em 0.5em;
	font-size: 1.3em;
		}
	#subheader {
	font-size: 1em;
		}
}

#badge-link {
	text-decoration: none;
	color: #D23333;
}